@import "tailwindcss";
@config "../tailwind.config.ts";
@import "@heroui/styles";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-xsm: 420px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-source-code-pro);
  --color-brand: #e58500;
  --color-brand-hover: #cc7700;
  --color-brand-orange: #e58500;
  --color-brand-orange-hover: #cc7700;
  --color-iskra: #e58500;
  --color-iskra-hover: #cc7700;
  --color-grain-1: #d9d9d9;
  --color-grain-2: #c6bda9;
  --color-grain-3: #e7e7e7;
  --color-grain-bg: #f5f5f7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Hide visual scrollbars globally while preserving scroll functionality */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

#landing-2-form:has(#ai-prompt:valid) #landing-submit:not(:disabled) {
  background-color: #e58500;
}

#landing-2-form:has(#ai-prompt:valid) #landing-submit:not(:disabled):hover {
  background-color: #cc7700;
}
